.delete {
    display: none;
}

.comment-form {
    display: none;
}

.container {
    margin-top: 75px;
}

.card-title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: -0.25rem;
}

.writer {
    line-height: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.add {
    position: absolute;
    right: 10px;
    width: 75px;
    border-radius: 58%;
    border: none;
    top: 16%;
    background-color: white;
    border: 0;
    margin: 0;
}

.card {
    margin-bottom: 25px;
    top: 40px;
    height: 450px;
    text-align: left;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 35px;
}

section {
    margin-top: -25px;
    text-align: center;
}

.card-text {
    margin-top: 25px;
}

.img-thumbnail {
    width: 300px;
}

navbarText {
    color: black;
}

element.style {
    height: 65px;
}

.card {
    float: left;
}

.source {
    background-color: #504d4d;
    color: white;
    padding: 4px;
    border-radius: 5px;
}