* {
    box-sizing: border-box;
}

.container {
    width: 34em;
    display: flex;
}

.card-title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: -0.25rem;
}

.writer {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.delete {
    position: absolute;
    right: 10px;
    width: 75px;
    border-radius: 58%;
    border: none;
    top: 15.5%;
    background-color: white;
    border: 0;
    margin: 0;
}

.card {
    margin-bottom: 25px;
    top: 40px;
    height: 450px;
    text-align: left;
    padding: 20px;
    height: 650px;
    width: 37em;
    margin-left: 2.5%;
}
    
h1 {
    text-align: center;
    padding-top: 35px;
}

section {
    margin-top: -25px;
    text-align: center;
}

.card-text {
    margin-top: 25px;
}

.img-thumbnail {
    width: 300px;
    max-height: 225px;
}

navbarText {
    color: black;
}

element.style {
    height: 65px;
}

.source {
    background-color: #504d4d;
    color: white;
    padding: 6px;
    border-radius: 5px;
}

.add {
    display: none;
}

.title {
    margin-top: 70px;
    margin-bottom: 30px;
}

.noteBox{
    margin-top: 20px;
}

.input {
    margin-top: 25px;
}

.noteInput{
    margin-top: 20px;  
}

ul.notes{
    padding: 0;
    list-style-type: none;
}

/* .container-pack {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
} */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1245px){
    .card {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
     }
     .note{
         width: 200px;
     }
}

@media screen and (max-width: 760px){
    .card {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
     }
    .note{
         width: 150px;
     }
}

.navigationbar {
    overflow: hidden;
    background-color: black;
    width: 150%;
    position: absolute;
    top: 0; 
}

.navigationbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.logo {
    margin: -5px;
    width: 130px;
    height: 40px;
}


@media screen and (max-width: 450px){
    .navigationbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 7px 10px;
        text-decoration: none;
        font-size: 14px;
    }
    .title {
        margin-top: 49px;
    }
    .delete {
        position: absolute;
        right: 0px;
        width: 75px;
        border-radius: 58%;
        border: none;
        top: 9.5%;
        background-color: white;
        border: 0;
        margin: 0;
    }
}