.container {
    margin-top: 75px;
}

.card-title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: -0.25rem;
}

.writer {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.delete {
    position: absolute;
    right: 10px;
    width: 75px;
    border-radius: 58%;
    border: none;
    top: 15.5%;
    background-color: white;
    border: 0;
    margin: 0;
}

.question {
    width: 80px;
    height: 60px;
    position: absolute;
    right: 9px;
    top: 21.5%;
}

.card {
    margin-bottom: 25px;
    top: 40px;
    height: 450px;
    text-align: left;
    padding: 20px;
    height: 650px;
    float: left;
    margin-right: 45px;
}

h1 {
    text-align: center;
    margin-top: 35px;
}

section {
    margin-top: -25px;
    text-align: center;
}

.card-text {
    margin-top: 25px;
}

.img-thumbnail {
    width: 300px;
    max-height: 225px;
}

a {
    color: white;
}

element.style {
    height: 65px;
}

.source {
    background-color: #504d4d;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.add {
    display: none;
}